<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion Adicional
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-header>
<ion-accordion-group value="colors">
  <ion-accordion value="colors">
    <ion-item slot="header">
      <ion-label>Colores Favoritos</ion-label>
    </ion-item>


    <ion-list slot="content">
      <ion-item><ion-label>Azul</ion-label></ion-item>
      <ion-item><ion-label>Negro</ion-label></ion-item>
      <ion-item><ion-label>Rosa</ion-label></ion-item>
    </ion-list>

  </ion-accordion>

  <ion-accordion value="hobys">
    <ion-item slot="header"><ion-label>Hobys</ion-label></ion-item>
    <ion-list slot="content">
      <ion-item><ion-label>Bailar</ion-label></ion-item>
      <ion-item><ion-label>Ver peliculas</ion-label></ion-item>
      <ion-item><ion-label>Escuchar Musica</ion-label></ion-item>
    </ion-list>
  </ion-accordion>

  <ion-accordion value="Cursos">
    <ion-item slot="header">
      <ion-label>Cursos</ion-label>
    </ion-item>

    <ion-list slot="content">
      <ion-item><ion-label>Programacion Orientada a Objetos</ion-label></ion-item>
      <ion-item><ion-label>Base de datos</ion-label></ion-item>
      <ion-item><ion-label>Redes</ion-label></ion-item>
    </ion-list>

  </ion-accordion>
</ion-accordion-group>
</ion-header>
</ion-content>