<ion-header >
  <ion-grid>
  <ion-row>
    <ion-col size="2">
      <ion-button class="boton" >
        <ion-icon  name="person-circle-outline"></ion-icon>              
      </ion-button>
    </ion-col>
    <ion-col size="8">
      <ion-title class="titulo">
        Tinder
        </ion-title>
    </ion-col>
    <ion-col size="2">
      <ion-button class="boton">
        <ion-icon name="chatbox-ellipses-sharp"></ion-icon> </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-header>
<!--Encabezado-->

<ion-header >
   <ion-searchbar class="buscar" ></ion-searchbar>
</ion-header>
<!--Buscar-->

    <ion-header class="fondo-imagen">
      <ion-img class="imagen" src="../../assets/perfil1.jpg"></ion-img>
    </ion-header>
  
    <!--Imagen-->
<ion-header class="fondo-imagen2">
<p class="texto">Maria Isabel, 26 Años</p>
<p class="texto1">Ciudad Juarez-Medico Cirujano</p>
</ion-header>
     <ion-header class="menu-botones" >
     <ion-grid  class="menu-b">   
      <ion-row>
        <ion-col size="3">
          <ion-button class="boton-r" >
            <ion-icon  name="reload-outline"></ion-icon>              
          </ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button class="boton-cerra" >
            <ion-icon  name="close-circle-sharp"></ion-icon>              
          </ion-button>
        </ion-col>

        <ion-col size="3">
          <ion-button class="boton-amor" >
            <ion-icon  name="heart-sharp"></ion-icon>              
          </ion-button>
        </ion-col>
      
      <ion-col size="3">
        <ion-button class="boton-estrella" >
          <ion-icon  name="star-sharp"></ion-icon>              
        </ion-button>
      </ion-col>
      </ion-row>
    </ion-grid>
  </ion-header>


