<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-title class="titulo">
      Contacto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header >
      <ion-item>
           <ion-label position="fixed">Nombre</ion-label>
           <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Apellidos</ion-label>
        <ion-input></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="fixed">Telefono</ion-label>
        <ion-input></ion-input>
     </ion-item>

    
      <ion-radio-group value="biff">
        <ion-list-header>
          <ion-label>Sexo</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="start" value="biff"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label>Femenino</ion-label>
          <ion-radio slot="start" value="griff"></ion-radio>
        </ion-item>
    
      </ion-radio-group>
    
      <ion-item>
        <ion-label>Signo</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="aries">Aries</ion-select-option>
          <ion-select-option value="capricornio">Capricornio</ion-select-option>
          <ion-select-option value="libra">Libra</ion-select-option>
          <ion-select-option value="geminis">Geminis</ion-select-option>
          <ion-select-option value="acuario">Acuario</ion-select-option>
          <ion-select-option value="tauro">Tauro</ion-select-option>
        </ion-select>
      </ion-item>
     <ion-item>
        <ion-label>Descripcion</ion-label>
        <ion-textarea rows="6" cols="20" placeholder=""></ion-textarea>
      </ion-item>


    
      <ion-item>
        <ion-button class="boton" slot="start">
          Enviar
        </ion-button>      
      </ion-item>

    </ion-header>
</ion-content>